.footer-component {
  position: absolute;
  bottom: 0;
  background: #EFEFEF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 20px 30px;
  text-align: right;
  font: normal normal normal 14px/17px Oxygen;
  letter-spacing: 0;
  color: #9F9F9F;
  opacity: 0.87;
}
